body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
  }
.container{
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width:550px;
    
}
.delete-section {
    display: none;
}
h2{
    text-align: center;
}
#button1{
    background-color: green;
    border-radius: 5px;
    box-sizing: 10px;
    color: white;
}
#button2{
    background-color: red;
    color:white;
}
#button3{
    background-color: red;
    color:white;
}